html,
body {
  margin: 0;
  padding: 0;
  background: rgb(99, 95, 95);
}

/* .App {
  text-align: center;
  backgro und-color: #282c34;
} */

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: rgb(99, 95, 95);
  min-height: 10vh;
  display: flex;

  font-size: calc(10px + 2vmin);
  color: white;
  
}


.corgi-facts {
  color: rgb(0, 0, 0);

}